<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style-carrito.css">
    <title>Carrito de compras</title>
</head>

<body>

    <header>
        <div>
            <img src="/images/logo_funko_shop.png" alt="logo">
            <div>
                <ul>
                    <li>INICIO</li>
                    <li>¿QUIÉNES SOMOS?</li>
                    <li>CATEGORÍAS</li>
                    <li>PERSONALIZADOS</li>
                    <li>PRE-VENTA</li>
                </ul>
            </div>
            <div>
                <button><a href="/formulario-de-login"><i class="fa-solid fa-user"></i></a></button>
                <button><i class="fa-regular fa-heart"></i></button>
                <button><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </header>
    <main>
        <div class="funko-caja">
            <div class="car-fav">
                <h2>CARRITO(1)</h2>
                <h2 class="favoritos">FAVORITOS(0)</h2>
                <div class="descripciones">
                    <h2 class="descripcion">CANT</h2>
                    <h2 class="descripcion2">PRECIO</h2>
                </div>
            </div>
            <article>
                <div class="funko-carrito">
                    <img class="imagen-capitan" src="../images/funko_capitan_america.jpg" alt="imagen">
                    <div class="articulos"><i class="fa-solid fa-truck carrito1"></i>
                        <p>POP!</p>
                        <p class="capitan-america">CAPITÁN AMÉRICA</p>
                    </div>
                </div>
            </article>
            <div class="precios">
                <div class="botones"><button class="btn" type="button" id="menos">-</button>
                    <input id="cantidad" type="text" style="text-align: center;" value="1">
                    <button class="btn" type="button" id="mas">+</button>
                </div>
                <p class="precio">$4.500</p>
            </div>

            <div class="envio">
                <h2>ENVÍO</h2>
                <P class="precio2">$800</P>
            </div>
            <div class="total">
                <h2>TOTAL</h2>
                <p class="precio3">$5.300</p>
            </div>
            <h1>¡AGREGALOS A TU COMPRA!</h1>
            <div class="funkos">
                <div class="messi">
                    <img class="imagen-messi" src="../images/Funko_Pop_Messi.jpg" alt="imagen">
                    <div class="car-des">
                        <div><i class="fa-solid fa-truck me"></i></div>
                        <p class="descripcion-messi">MESSI</p>
                    </div>
                </div>
                <div class="freddy">
                    <img class="imagen-freddy" src="../images/Pesadilla-Freddy.jpg" alt="imagen">
                    <div class="car-des">
                        <div><i class="fa-solid fa-truck fre"></i></div>
                        <p class="descripcion-freddy">FREDDY KRUEGER</p>
                    </div>
                </div>
                <div class="matrix">
                    <img class="imagen-matrix" src="../images/Matrix-neo.jpg" alt="imagen">
                    <div class="car-des">
                        <div><i class="fa-solid fa-truck ma"></i></div>
                        <p class="descripcion-matrix">MATRIX</p>
                    </div>
                </div>
                <div class="michonne">
                    <img class="imagen-michonne" src="../images/TWD-michonne.jpg" alt="imagen">
                    <div><i class="fa-solid fa-truck mic"></i></div>
                    <p class="descripcion-michonne">MICHONNE</p>
                </div>
                </article>
            </div>
        </div>
    </main>
    <footer class="footer-carrito">
        <div>
            <div>
                <h3>ASISTENCIA</h3>
                <ul>
                    <li><a href=""> Términos y condiciones</a> </li>
                    <li><a href=""> Bases y condiciones de promociones</a></li>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Centro de ayuda</a></li>
                </ul>
            </div>
            <div>
                <h3>INFORMACIÓN</h3>
                <ul>
                    <li>Inicio</li>
                    <li>¿Quiénes somos?</li>
                    <li>Categorías</li>
                    <li>Personalizados</li>
                    <li>Pre-venta</li>
                    <li>Preguntas Frecuentes</li>
                </ul>
            </div>
            <div>
                <h3>SEGUINOS</h3>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div>
                <div>
                    <h3>MEDIOS DE PAGO</h3>
                    <div>
                        <i class="fa-sharp fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-building-columns"></i>
                        <i class="fa-solid fa-money-bill-1"></i>
                        <button>ARREPENTIMIENTO</button>
                    </div>
                </div>
                <div>
                    <h3><i class="fa-solid fa-truck-fast"></i>ENVÍOS A TODO EL PAÍS</h3>
                </div>
            </div>
            <div>
                <h4><i class="fa-solid fa-location-dot"></i>Ubicación</h4>
                <h4><i class="fa-solid fa-phone"></i>5555-5555</h4>
                <h4><i class="fa-solid fa-envelope"></i>funkoshop@gmail.com</h4>
                <h4><i class="fa-solid fa-alarm-clock"></i>Lun-Vier 8:00-17:00hs</h4>
            </div>
        </div>
    </footer>
</body>

</html>