<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle.css">

    <title>FUNKO SHOP</title>
</head>

<body>
    <header class="header">
        <div>
            <div class="burger-container">
                <img class="banner" src="/images/banner-shenron-x.jpg" alt="logo">
                <img class="logo" src="/images/logo_funko_shop.png" alt="logo">
                <div class="burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="contenedor-de-botones">
                    <button class="botones"><a href="/formulario-de-login"><i class="fa-solid fa-user"></i></a></button>
                    <button class="botones"><i class="fa-regular fa-heart"></i></button>
                    <button class="botones"><a href="/carrito-de-compras"><i
                                class="fa-solid fa-cart-shopping"></i></a></button>
                </div>


            </div>
            <div class="accesos">
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                    <li><a href="#">CATEGORÍAS</a></li>
                    <li><a href="#">PERSONALIZADOS</a></li>
                    <li><a href="#">PRE-VENTA</a></li>

                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="detalle">
            <div class="cajadelproducto">
                <div class="fotoPrincipal">
                    <div class="titulo">
                        <div>
                            <p>Funko pop</p>
                        </div>
                        <div>
                            <h4>The Joker</h4>
                        </div>
                    </div>
                    <button class="favorito"><i class="fa-regular fa-heart"></i></button>
                    <button class="compartir"> <i class="fa-sharp fa-solid fa-share-nodes"></i></button>
                    <img class="imgP" src="images/theJoker-funko1.jpg" alt="logo">
                </div>
                <div class="fotosSiguientes">
                    <img class="imgP" src="images/theJoker-funko2.jpg" alt="logo">
                    <img class="imgP" src="images/theJoker-funko3.jpg" alt="logo">
                </div>
            </div>

            <div class="especificaciones">
                <h2>$10.500</h2>
                <p>disponibles: 5</p>

                <details>
                    <sumary>
                        Funko pop The Joker, de la pelicula suicide squad
                    </sumary>
                </details>
                <div>
                    <p>añadir al carrito</p>
                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
                <div>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </div>
            </div>
        </section>
        <section class="relacionados">
            <h2>RELACIONADOS</h2>
            <article class="infodestacados">
                <div class="infofunko">
                    <img src="images/theRiddler-funko.jpg" alt="logo">
                    <h4>The Riddler Batman forever</h4>
                    <p>$10.500</p>
                    <button>SUMAR</button>
                </div>
                <div class="infofunko">
                    <img src="images/harleyquinn-funko.jpg" alt="logo">
                    <h4>Harley Quinn Suicide squad</h4>
                    <p>$10.500</p>
                    <button>SUMAR</button>
                </div>
                <div class="infofunko">
                    <img src="images/batman-funko.jpg" alt="logo">
                    <h4>Batman 1997</h4>
                    <p>$10.500</p>
                    <button>SUMAR</button>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footerDetalle">
            <h2>FUNKO-SHOP</h2>
            <div class="detalleAsist">
                <h3>ASISTENCIA</h3>
                <ul class="listaAsist">
                    <li><a href=""> Términos y condiciones</a> </li>
                    <li><a href=""> Bases y condiciones de promociones</a></li>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Centro de ayuda</a></li>
                </ul>
            </div>
            <div class="seguinos">
                <h3>SEGUINOS</h3>
                <div class="redes">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
            <div class="informacion">
                <h3>INFORMACIÓN</h3>
                <ul class="listaInfo">
                    <a href="#">INICIO</a>
                    <a href="#">¿QUIÉNES SOMOS?</a>
                    <a href="#">CATEGORÍAS</a>
                    <a href="#">PERSONALIZADOS</a>
                    <a href="#">PRE-VENTA</a>
                </ul>
            </div>
            <div>
                <div class="pagos">
                    <h3>MEDIOS DE PAGO</h3>
                    <div class="iconosPagos">
                        <i class="fa-sharp fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-building-columns"></i>
                        <i class="fa-solid fa-money-bill-1"></i>
                    </div>
                </div>
                <div class="arrepentido">
                    <button>ARREPENTIMIENTO</button>
                </div>
                <div class="envios">
                    <h3>ENVÍOS A TODO EL PAÍS</h3>
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="contacto">
                    <h3>CONTACTO</h3>
                    <h4><i class="fa-solid fa-location-dot"></i>Ubicación</h4>
                    <h4><i class="fa-solid fa-phone"></i>5555-5555</h4>
                    <h4><i class="fa-solid fa-envelope"></i>funkoshop@gmail.com</h4>
                    <h4><i class="fa-solid fa-alarm-clock"></i>Lun-Vier 8:00-17:00hs</h4>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>