<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FUNKO SHOP</title>
</head>

<body>
    <header>
        <div>
            <img src="/images/logo_funko_shop.png" alt="logo">
            <div>
                <ul>
                    <li>INICIO</li>
                    <li>¿QUIÉNES SOMOS?</li>
                    <li>CATEGORÍAS</li>
                    <li>PERSONALIZADOS</li>
                    <li>PRE-VENTA</li>
                </ul>
            </div>
            <div>
                <button><i class="fa-solid fa-user"></i></button>
                <button><i class="fa-regular fa-heart"></i></button>
                <button><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </header>
    <main>
        <article>
            <div>
                <img class="imgP" src="images/theJoker-funko1.jpg" alt="logo">
                <div>
                    <button><i class="fa-regular fa-heart"></i></button>
                </div>
            </div>
            <div>
                <img class="imgP" src="images/theJoker-funko2.jpg" alt="logo">
                <img class="imgP" src="images/theJoker-funko3.jpg" alt="logo">
            </div>
        </article>
        <article>
            <div>
                <p>Funko pop</p>
                <h4>The Joker</h4>
                <div>
                    <li>descripción</li>
                    <li>Ficha técnica</li>
                </div>
                <p>$10.500</p>
                <p>disponibles: 5</p>
                <div>
                    <p>añadir al carrito</p>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-share-nodes"></i>
                </div>
                <div>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </div>
            </div>
        </article>
        <section>
            <h3>¡RELACIONADOS!</h3>
            <article>
                <div>
                    <img src="images/theRiddler-funko.jpg" alt="logo">
                    <h4>The Riddler</h4>
                    <p>$10.500</p>
                    <p>Batman forever</h4>
                    <div>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/harleyquinn-funko.jpg" alt="logo">
                    <h4>Harley Quinn</h4>
                    <p>$10.500</p>
                    <p>Suicide squad</h4>
                    <div>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/batman-funko.jpg" alt="logo">
                    <h4>Batman</h4>
                    <p>$10.500</p>
                    <p>1997</h4>
                    <div>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </article>
        </section>



    </main>
    <footer>
        <div>
            <div>
                <h3>ASISTENCIA</h3>
                <ul>
                    <li><a href=""> Términos y condiciones</a> </li>
                    <li><a href=""> Bases y condiciones de promociones</a></li>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Centro de ayuda</a></li>
                </ul>
            </div>
            <div>
                <h3>INFORMACIÓN</h3>
                <ul>
                    <li>Inicio</li>
                    <li>¿Quiénes somos?</li>
                    <li>Categorías</li>
                    <li>Personalizados</li>
                    <li>Pre-venta</li>
                    <li>Preguntas Frecuentes</li>
                </ul>
            </div>
            <div>
                <h3>SEGUINOS</h3>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div>
                <div>
                    <h3>MEDIOS DE PAGO</h3>
                    <div>
                        <i class="fa-sharp fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-building-columns"></i>
                        <i class="fa-solid fa-money-bill-1"></i>
                        <button>ARREPENTIMIENTO</button>
                    </div>
                </div>
                <div>
                    <h3><i class="fa-solid fa-truck-fast"></i>ENVÍOS A TODO EL PAÍS</h3>
                </div>
            </div>
            <div>
                <h4><i class="fa-solid fa-location-dot"></i>Ubicación</h4>
                <h4><i class="fa-solid fa-phone"></i>5555-5555</h4>
                <h4><i class="fa-solid fa-envelope"></i>funkoshop@gmail.com</h4>
                <h4><i class="fa-solid fa-alarm-clock"></i>Lun-Vier 8:00-17:00hs</h4>
            </div>
        </div>
    </footer>
</body>

</html>