<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>FUNKO SHOP</title>
</head>
<body>
    <form action="/formulario-de-registro" method="POST">
     <h1 align="center"> REGISTRARSE </h1>
    <div class="nombre-container">
        <div class="nombresApellidos"> 
             <div>INGRESE NOMBRE/S</div>
             <div>INGRESE APELLIDO/S</div>
        </div>

            <input type="NOMBRES" name="NOMBRES"  required>
            <input type="APELLIDOS" name="APELLIDOS"  required>
    </div>
     <div class="correo-contra-container">
        <div>CORREO ELECTRÓNICO</div>
            <input class="mail" type="email" name="email" placeholder="@" required>
        <div> CONTRASEÑA </div>
            <input class="passw" type="password" name="contraseña" required> <i class="fa-solid fa-eye"> </i>
    </div>
        <section >
                <input class="terms" type="checkbox">  <a href="#"> ACEPTAR TÉRMINOS Y CONDICIONES </a> 
            </section>
                <button class="register" type="submit"> REGISTRARSE </button>
    </form>
</body>
</html>

<!-- probando forma para que bloque de nombre y apellido queden al lado.. pero no funciona
    <form action="/formulario-de-registro" method="POST">
        <h1 align="center"> REGISTRARSE </h1>
        <div><span><h2>INGRESE NOMBRE/S</h2></span>
             <span><h2>INGRESE APELLIDO/S</h2></span>
    </div>
    <div><span><input type="nombre/s" name="nombre/s" required></span>
         <span><input type="apellido/s" name="apellido/s" required></span>
    </div> -->