<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FUNKO SHOP</title>
</head>
<body>
    <form action="/formulario-de-login" method="POST">
        <h1> INICIAR SESIÓN </h1>
        <h2> INGRESE SU CORREO ELECTRÓNICO </h2>
        <input type="email" name="email" placeholder="INGRESE CORREO ELECTRONICO" required>
        <h2> INGRESE SU CONTRASEÑA </h2>
        <input type="password" name="contraseña" required> <i class="fa-solid fa-eye"> </i> 
        <p> <a href=""> ¿OLVIDASTE TU CONTRASEÑA? </a> </p>
        <p> <input type="checkbox"> RECORDARME </p>
        <button type="submit"> ACCEDER </button>
        <p> <a href=""> CREAR CUENTA </a> </p>
    </form>
</body>
</html>