<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FUNKO SHOP</title>
</head>

<body>
    <header>
        <div>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <img class="logo" src="/images/logo_funko_shop.png" alt="logo">
                <div class="contenedor-de-botones">
                    <button class="botones"><a href="/formulario-de-login"><i class="fa-solid fa-user"></i></a></button>
                    <button class="botones"><i class="fa-regular fa-heart"></i></button>
                    <button class="botones"><a href="/carrito-de-compras"><i
                                class="fa-solid fa-cart-shopping"></i></a></button>
                </div>


            </div>
            <div class="accesos">
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                    <li><a href="#">CATEGORÍAS</a></li>
                    <li><a href="#">PERSONALIZADOS</a></li>
                    <li><a href="#">PRE-VENTA</a></li>

                </ul>
            </div>
        </div>
    </header>
    <main >
        <div class="container-main">
            <div class="cabezas">
                <img src="/images/funko-cabezagris-breaking-bad.png" alt="breakingBad">
                <img src="/images/funko-cabezagris-DC.png" alt="DC">
                <!-- <img src="/images/funko-cabezagris-harrypotter.png" alt="HP"> -->
                <img src="/images/funko-cabezagris-MARVEL.png" alt="Marvel">
                <img src="/images/funko-cabezagris-starwars.png" alt="SW">
            </div>
            <div>
                <input type="text">
            </div>
            <section class="destacados">
                <h2 class="titleDestacados">DESTACADOS</h2>
                <article class="contenedorDestacados">
                    <div class="infoDestacado">
                        <img src="/images/obi-wan-kenobi.jpg" alt="ST">
                        <h4>OBI WAN KENOBI</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/funko_doctor_strange.jpg" alt="DS">
                        <h4>DOCTOR STRANGE</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/GOT-danyerys.jpeg" alt="GOT">
                        <h4>DANYERYS</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/julianalvarez.webp" alt="futbol">
                        <h4>JULIAN ALVAREZ</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/Freddie_Mercury.jpg" alt="freddie">
                        <h4>FRIDA KAHLO</h4>
                        <button>DETALLE</button>
                    </div>
                </article>
            </section>
            <section class="ofertas">
                <h2>OFERTAS</h2>
                <article class="contenedorOfertas">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </article>
            </section>
            
        </div>
    </main>
    <footer>
        <div class="footerDetalle">
            <div class="detalleAsist">
                <h3>ASISTENCIA</h3>
                <ul class="listaAsist">
                    <li><a href=""> Términos y condiciones</a> </li>
                    <li><a href=""> Bases y condiciones de promociones</a></li>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Centro de ayuda</a></li>
                </ul>
            </div>
            <div class="informacion">
                <h3>INFORMACIÓN</h3>
                <ul class="listaInfo">
                    <li>Inicio</li>
                    <li>¿Quiénes somos?</li>
                    <li>Categorías</li>
                    <li>Personalizados</li>
                    <li>Pre-venta</li>
                    <li>Preguntas Frecuentes</li>
                </ul>
            </div>
            <div class="seguinos">
                <h3>SEGUINOS</h3>
                <div class="redes">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
            <div>
                <div class="pagos">
                    <h3>MEDIOS DE PAGO</h3>
                    <div class="iconosPagos">
                        <i class="fa-sharp fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-building-columns"></i>
                        <i class="fa-solid fa-money-bill-1"></i>
                        <button>ARREPENTIMIENTO</button>
                    </div>
                </div>
                <div class="envios">
                    <h3><i class="fa-solid fa-truck-fast"></i>ENVÍOS A TODO EL PAÍS</h3>
                </div>
            </div>
            <div class="contacto">
                <h4><i class="fa-solid fa-location-dot"></i>Ubicación</h4>
                <h4><i class="fa-solid fa-phone"></i>5555-5555</h4>
                <h4><i class="fa-solid fa-envelope"></i>funkoshop@gmail.com</h4>
                <h4><i class="fa-solid fa-alarm-clock"></i>Lun-Vier 8:00-17:00hs</h4>
            </div>
        </div>
    </footer>
</body>

</html>