* {
    margin: 0;
    box-sizing: border-box;

}

.header {
    /* background-image: url('/images/banner-shenron-x.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 220px;
    width: 100%;
    display: flex; */
}

.burger-container .banner {
    width: 100%;
    position: absolute;
    top: 0px;
}

body {
    font-size: 12px;
    background-color: whitesmoke;
    position: relative;
}




.logo {
    width: 25%;
    display: flex;
    margin-left: 10px;
    z-index: 1;

}


.accesos ul {
    padding-left: 0px;
    text-decoration: none;
    font-size: 130%;
    display: none;

}

.burger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.burger-menu i {
    font-size: 50px;
    margin-right: 90px;
}

.burger-menu {
    display: flex;
    padding: 15px;
    z-index: 1;

}

.contenedor-de-botones {
    z-index: 1;
}

.contenedor-de-botones i {
    font-size: 30px;
    display: flex;

}

.botones {
    background-color: transparent;
    border: none;

}

/******** FIN HEADER ********/

/******** INICIO MAIN ********/
main .titulo {
    display: flex;
    font-size: 20px;
    text-align: left;

}

.titulo p {
    color: rgb(114, 112, 112);
}

.titulo h4 {
    margin-left: 20px;

}

.detalle {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px;
}


.cajadelproducto {
    display: flex;
    flex-direction: column;
}

.fotoPrincipal img {
    background-color: white 200%;
    width: 100%;
}

.favorito {
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 310px;
}

.compartir {
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 311px;
    margin-top: 432px;
}

.fotosSiguientes {
    display: flex;
    justify-content: space-evenly;
}

.fotosSiguientes img {
    width: 100px;
    display: flex;

}

.imgP {
    display: flex;

}

.especificaciones {
    margin: 10px;
}

.especificaciones h2 {
    font-size: 40px;
}

.relacionados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 25px;

}

.infofunko {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px
}

.infodestacados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.infofunko img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.infofunko button {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
}

/********* FIN MAIN **********/

/********INICIO FOOTER ********/

.footerDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: royalblue;
}

.footerDetalle .detalleAsist {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.footerDetalle h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .detalleAsist .listaAsist {
    list-style: square;
}

.footerDetalle .detalleAsist .listaAsist li {
    color: white;
    font-size: 12px;
}

.footerDetalle .detalleAsist .listaAsist li a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/******** FIN FOOTER **********/