main {
    margin: 15px 15px 15px 15px;
}

h1 {
    font-size: 16px;
    position: relative;
    bottom: 90px;
}

h2 {
    font-size: 12px;
}

.favoritas {
    position: relative;
    left: 99px;
    bottom: 14px;
}

.imagen-capitan {
    width: 75%;

}

article .funko-carrito {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 122px;
    width: 33%;
    font-size: 10px;
}

.capitan-america {
    position: relative;
    bottom: 20px;
    left: 5px;
}

.fa-truck {
    position: relative;
    top: 3px;
    font-size: 10px;
    left: 100px;
    border: #fc7126 1px solid;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    width: 23px;
    background-color: #fc7126;
}

.descripcion {
    position: relative;
    left: 261px;
    bottom: 149px;
    font-size: 12px;
}

.descripcion2 {
    position: relative;
    left: 339px;
    bottom: 184px;
    font-size: 12px;
}

.contador {
    position: relative;
    left: 243px;
    bottom: 137px;
    font-size: 12px;
}

input[type="text"] {
    max-width: 20px;
}

button[id="menos"] {
    max-width: 20px;
}

button[id="mas"] {
    max-width: 20px;
}

.precio {
    position: relative;
    left: 348px;
    bottom: 167px;
    font-size: 12px;
}

.envio {
    position: relative;
    left: 246px;
    bottom: 112px;
    font-size: 12px;
}

.precio2 {
    position: relative;
    left: 111px;
    bottom: 13px;
    font-size: 12px;
}

.total {
    position: relative;
    left: 262px;
    bottom: 102px;
    font-size: 12px;
}

.precio3 {
    position: relative;
    left: 100px;
    bottom: 14px;
    font-size: 12px;
}

.imagen-messi {
    width: 45%;
    position: relative;
    left: 32px;
}

article .messi {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 114px;
    width: 30%;
    font-size: 10px;
    bottom: 90px;
}

.me {
    position: relative;
    top: 8px;
    font-size: 10px;
    left: 90px;
}

.descripcion-messi {
    position: relative;
    bottom: 13px;
    font-size: 10px;
    left: 5px;
}

article .freddy {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 111px;
    width: 30%;
    font-size: 10px;
    bottom: 202px;
    left: 137px;
}

.fre {
    position: relative;
    top: 14px;
    font-size: 10px;
    left: 90px;
}

.descripcion-freddy {
    position: relative;
    bottom: 6px;
    font-size: 9px;
    left: 5px;
}

.imagen-freddy {
    width: 80%;
    position: relative;
    left: 12px;
}

article .matrix {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 110px;
    width: 30%;
    font-size: 10px;
    bottom: 313px;
    left: 274px;
}

.ma {
    position: relative;
    top: 27px;
    font-size: 10px;
    left: 90px;
}

.descripcion-matrix {
    position: relative;
    top: 8px;
    font-size: 9px;
    left: 5px;
}

.imagen-matrix {
    width: 66%;
    position: relative;
    left: 19px;
    top: 8px;
}

article .michonne {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 30%;
    font-size: 10px;
    bottom: 294px;
    left: 274px;
    display: none;
}

.mic {
    position: relative;
    top: 23px;
    font-size: 10px;
    left: 96px;
    display: none;
}

.descripcion-michonne {
    position: relative;
    top: 9px;
    font-size: 9px;
    left: 5px;
    display: none;
}

.imagen-michonne {
    position: relative;
    left: 19px;
    top: 8px;
    display: none;
}

@media(min-width:1024px) {
    article .funko-carrito {
        width: 13%;
    }

    article .messi {
        width: 12%;
    }
    .ma{
        top: 28px;
    }

    article .freddy {
        width: 12%;
        bottom: 204px;
        height: 114px;
        left: 131px;
    }

    article .matrix {
        width: 12%;
        bottom: 318px;
        height: 114px;
        left: 263px;
    }
    .descripcion-matrix{
        top: 8px;
    }
    article .michonne {
        display: flex;
        width: 12%;
        bottom: 431px;
        left: 395px;
        height: 113px;
    }

    .mic {
        display: flex;
        top: 85px;
        left: 22px;
    }

    .descripcion-michonne {
        display: flex;
        top: 64px;
        left: -64px;
    }

    .imagen-michonne {
        display: flex;
        width: 143%;
        left: 10px;
        top: 3px;
    }
    .descripcion{
        left: 328px;
    }
    .descripcion2{
        left: 420px;
    }
    .precio{
        left: 429px;
    }
    .contador{
        left: 313px;
    }
    .envio{
        left: 313px;
    }
    .total{
        left: 328px;
    }
    .precio2{
        left: 125px;
    }
    .precio2{
        left: 124px;
    }
}
