/*************INICIO HEADER*************/
* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-size: 12px;
    background-color: rgb(82, 95, 95);  
    background-image: url('/images/banner-shenron-x.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    
}



.logo {
    width: 25%;
    display: flex;
    margin: auto;
}


.accesos ul {
    padding-left: 0px;
    text-decoration: none;
    font-size: 130%;
    display: none;
    
}

.burger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.burger-menu i {
    /* color: aliceblue; */
    font-size: 50px;
}

.burger-menu {
    display: flex;
    padding: 20px;
}

.contenedor-de-botones i {
    font-size: 30px;
    display: flex;
    
}

.botones {
    background-color: transparent;
    border: none;
    
}

/********** FIN HEADER **********/


/********* INICIO MAIN *********/

.container-main {
    margin-top: 32%;
}

.cabezas {

}
.cabezas img {
    width: 24%;
    
}

input {
    height: 30px;
    width: 95%;
    border-radius: 5px;
    display: flex;
    margin: auto;
    
}

.nombresApellidos {
    display: flex;
    justify-content: space-around;
}


.mail,
.passw {
    width: 100%;
}


i {
    top: 300px;
    right: 780px;
}

a {
    color: black;

}

.register {
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 50px;
    margin-left: 80px;

}


/* FOOTER */

.footerDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footerDetalle .detalleAsist {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.footerDetalle h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .detalleAsist .listaAsist {
    list-style: square;
}

.footerDetalle .detalleAsist .listaAsist li {
    color: white;
    font-size: 12px;
}

.footerDetalle .detalleAsist .listaAsist li a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}