/**INICIO HEADER**/
* {
    margin: 0;
    box-sizing: border-box;

}

h2 {
    color: grey;
}

.header {
    /* background-image: url('/images/banner-shenron-x.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 220px;
    width: 100%;
    display: flex; */
}

.burger-container .banner {
    width: 100%;
    position: absolute;
    top: 0px;
}

body {
    font-size: 12px;
    background-color: whitesmoke;

}



.logo {
    width: 25%;
    display: flex;
    margin-left: 10px;
    z-index: 1;
}


.accesos ul {
    padding-left: 0px;
    text-decoration: none;
    font-size: 130%;
    display: none;

}

.burger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.burger-menu i {
    /* color: aliceblue; */
    font-size: 50px;
    margin-right: 90px;
}

.burger-menu {
    display: flex;
    padding: 15px;
    z-index: 1;

}

.contenedor-de-botones {
    z-index: 1;

}

.contenedor-de-botones i {
    font-size: 30px;
    display: flex;

}

.botones {
    background-color: transparent;
    border: none;

}

/** FIN HEADER **/


/** INICIO MAIN **/

.container-main {
    position: relative;
    top: 135px;

}

.cabezas {}

.cabezas img {
    width: 100px;

}


.search-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.search-container button {
    background-color: white;
    border-left: none;
    border-radius: 0 10px 10px 0;

}

.search-container i {
    background-color: white;
}

input {
    height: 30px;
    width: 95%;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.nombresApellidos {
    display: flex;
    justify-content: space-around;
}


.mail,
.passw {
    width: 100%;
}


i {
    top: 300px;
    right: 780px;
}

.register {
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 50px;
    margin-left: 80px;

}

/*** SECCION DESTACADOS ******/
.destacados,
.ofertas {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 25px;
}

.destacados .titleDestacados {
    text-align: center;
}

.destacados .contenedorDestacados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.destacados .contenedorDestacados .infoDestacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -2px #777;
}

.destacados .contenedorDestacados .infoDestacado img {
    height: 200px;
    margin-top: 15px;
}

.destacados .contenedorDestacados .infoDestacado h4 {
    font-size: 15px;
}

.destacados .contenedorDestacados .infoDestacado button {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
}

.destacados .contenedorDestacados .infoDestacado button:hover {
    color: blue;
    background-color: white;
}

/****** SECCION OFERTAS *****/
.ofertas .titleDestacados {
    text-align: center;
}

.ofertas .contenedorOfertas {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.ofertas .contenedorOfertas .infoOfertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -2px #777;
}

.ofertas .contenedorOfertas .infoOfertas img {
    height: 200px;
    margin-top: 15px;
}

.ofertas .contenedorOfertas .infoOfertas h4 {
    font-size: 15px;
}

.ofertas .contenedorOfertas .infoOfertas button {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
}

.ofertas .contenedorOfertas .infoOfertas button:hover {
    color: blue;
    background-color: white;
}


/**** PREVENTA ****/

.preventa {
    background-image: url(/images/cuantos-funkos.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.preventa h2 {
    margin: 15px;
}

.preventa .botonPreventa {
    margin: 15px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* FOOTER */

.footerDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: royalblue;
    position: relative;
    top: 135px;
   
}
.listaInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    text-decoration: none;
}
.listaInfo a {
    color: rgb(171, 176, 181);
    margin: 4px;
}

.redes i {
    font-size: 40px;
    color: white;
    margin: 10px;
}
.pagos .iconosPagos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    color: white;
}
.arrepentido {
    margin: 25px;
    display: flex;
    justify-content: center;

}
.envios i {
    color: white;
    display: flex;
    margin: 20px;
    justify-content: center;
    font-size: 25px;

}
.arrepentido button {
    border-radius: 7px;
    border: none;
    color: slateblue;
}
.contacto {
    margin: 10px 0 30px;
    color: darkblue;
}
.contacto h4 {
    margin: 6px;
}


.footerDetalle .detalleAsist {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    display: none;
}
.footerDetalle h2{
    margin-top: 30px;
    color: white;
    font-size: xx-large;
}

.footerDetalle h3 {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 40px 0 10px;
}

.footerDetalle .detalleAsist .listaAsist {
    list-style: square;
}

.footerDetalle .detalleAsist .listaAsist li {
    color: white;
    font-size: 12px;
}

.footerDetalle .detalleAsist .listaAsist li a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}