
/*************INICIO HEADER*************/
* {
    margin: 0;
    box-sizing: border-box;
   
}

body {
    font-size: 12px;
    background-color: whitesmoke;
    
   
    
}
.logo {
    width: 40%;
    display: flex;
    margin: auto;
}
.accesos ul {
    padding-left: 0px;
    text-decoration: none;
    font-size: 130%;
    display: none;

}
.burger-container {
    display: flex;
   
}
.burger-menu i {
    color: aliceblue;
    font-size: 10px;
}

 .burger-menu {
display: flex;


} 
a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
.cabezas img {
    width: 24%;

}

input {
    height: 30px;
    width: 95%;
    border-radius: 5px;
    display: flex;
    margin: auto;
    
}

.nombresApellidos {
    display: flex;
    justify-content: space-around;
}


.mail , .passw {
    width: 100%;
}


i {
    top: 300px;
    right: 780px;
}

a{
    color: black;

}

.register {
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 50px;
    margin-left: 80px;

}

/* MAIN INDEX */
.destacados{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 25px;
}

.destacados .titleDestacados{
    text-align: center;
}

.destacados .contenedorDestacados{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.destacados .contenedorDestacados .infoDestacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
}

.destacados .contenedorDestacados .infoDestacado img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.destacados .contenedorDestacados .infoDestacado h4{
    font-size: 15px;
}

.destacados .contenedorDestacados .infoDestacado button{
    color: #FFF;
	transition: all 0.5s;
	position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
}

.destacados .contenedorDestacados .infoDestacado button:hover{
    color: blue;
    background-color: white;
}

.preventa{
    background-image: url(/images/cuantos-funkos.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.preventa h2{
    margin: 15px;
    color: black;
}

.preventa .botonPreventa{
    display: flex;
    width: 100px;
    justify-content: space-around;
    border-radius: 10px;
    margin: 15px;
}

/* FOOTER */

.footerDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footerDetalle .detalleAsist {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.footerDetalle h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .detalleAsist .listaAsist {
    list-style: square;
}

.footerDetalle .detalleAsist .listaAsist li {
    color: white;
    font-size: 12px;
}

.footerDetalle .detalleAsist .listaAsist li a {
    color: white;
}
