<%- include('partials/head', {title: 'Carritos de Compras' , styles: ['aboutUs']}) %>

    <body>
        <%- include('partials/header') %>

            <section class="box-about">
                <h2>¡QUIENES SOMOS!</h2>
                <article>
                    <div>
                        <p>¡Bienvenidos al maravilloso mundo de Funko shop! Somos una empresa líder en la creación y
                            producción de muñecos de vinilo coleccionables, conocidos como Funko Pops.
                            Nuestra empresa ha tomado el mundo del coleccionismo por asalto con nuestros adorables y
                            detallados muñecos que representan a personajes de películas,
                            programas de televisión, videojuegos, cómics y mucho más.</p>
                        <br></br>
                        <p>En Funko shop, cada uno de nuestros Funko Pops es una verdadera obra de arte en miniatura.
                            Nuestro equipo de diseñadores y artistas trabaja arduamente para capturar
                            la esencia y los rasgos distintivos de cada personaje en un muñeco de 3.75 pulgadas de
                            altura. Desde los icónicos trajes hasta los característicos peinados y expresiones faciales,
                            nuestros Funko Pops son reconocibles al instante y se han convertido en objetos de deseo
                            para los coleccionistas de todo el mundo.</p>
                        <br></br>
                        <p>Lo que nos hace únicos es la amplia variedad de licencias con las que trabajamos. En Funko
                            World, puedes encontrar Funko Pops de tus personajes favoritos de películas
                            populares como Star Wars, Marvel, DC Comics, Harry Potter, Disney y muchas más. También
                            tenemos una amplia gama de Funko Pops basados en programas de televisión, videojuegos,
                            deportes, música y cultura pop en general. </p>
                        <br></br>
                        <p>¡Prácticamente cualquier personaje que te guste, es probable que lo encuentres en forma de un
                            adorable Funko Pop en nuestras tiendas!.
                            Además de los Funko Pops regulares, también ofrecemos ediciones limitadas, exclusivas y
                            variantes, que son altamente buscadas por los coleccionistas más apasionados.
                            También lanzamos continuamente nuevos diseños y colecciones temáticas para que siempre haya
                            algo emocionante y fresco para descubrir en Funko shop. </p>
                        <br></br>
                        <p>Nos enorgullecemos de la calidad y atención al detalle en cada uno de nuestros productos.
                            Cada Funko Pop está hecho con materiales de alta calidad y pintado a mano
                            para garantizar que sea un verdadero tesoro para cualquier coleccionista.
                            También ofrecemos un servicio al cliente excepcional y una comunidad apasionada de
                            coleccionistas que comparten el amor por los Funko Pops en todo el mundo. </p>
                        <br></br>
                        <p>Así que si eres un amante de la cultura pop y te encanta coleccionar cosas únicas y
                            adorables, no busques más allá de Funko World. ¡Descubre nuestro emocionante
                            universo de muñecos de vinilo coleccionables y únete a la diversión! ¡Bienvenido a Funko
                            World, donde la diversión y la creatividad se encuentran en cada esquina
                            de nuestro maravilloso mundo de muñecos de funkos!</p>
                    </div>
                </article>
            </section>


            <%- include('partials/footer') %>
    </body>

    </html>