<%- include('partials/head', {title: 'Carritos de Compras', styles: ['style-carrito']}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="funko-caja">
            <div class="car-fav">
                <h2>CARRITO(1)</h2>
                <h2 class="favoritos">FAVORITOS(0)</h2>
                <div class="descripciones">
                    <h2 class="descripcion">CANT</h2>
                    <h2 class="descripcion2">PRECIO</h2>
                </div>
            </div>
            <article>
                <div class="funko-carrito">
                    <img class="imagen-capitan" src="../images/funko_capitan_america.jpg" alt="imagen">
                    <div class="articulos">
                        <p>POP!</p>
                        <p class="capitan-america">CAPITÁN AMÉRICA</p>
                        <button class="detalle-capitan">DETALLE</button>
                    </div>
                </div>
            </article>
            <div class="precios">
                <div class="botones1"><button class="btn" type="button" id="menos">-</button>
                    <input id="cantidad" type="text" value="1">
                    <button class="btn" type="button" id="mas">+</button>
                </div>
                <p class="precio">$4.500</p>
                <h2>ENVÍO</h2>
                <P class="precio">$800</P>
            <div class="total-carrito">
                <h2>TOTAL</h2>
                <p class="precio1">$5.300</p>
            </div>
        </div>
            <h1>¡AGREGALOS A TU COMPRA!</h1>
            <div class="funkos">
                <div class="funko-caja-carrito">
                    <img class= "img-carrito" src="../images/Funko_Pop_Messi.jpg" alt="imagen">
                        <h3 class="descripcion-caja">MESSI</h3>
                        <button class="detalle">DETALLE</button>
                </div>
                <div class="funko-caja-carrito">
                    <img class= "img-carrito" src="../images/Pesadilla-Freddy.jpg" alt="imagen">
                        <h3 class="descripcion-caja">FREDDY KRUEGER</h3>
                        <button class="detalle">DETALLE</button>
                </div>
                <div class="funko-caja-carrito">
                    <img class= "img-carrito" src="../images/Matrix-neo.jpg" alt="imagen">
                        <h3 class="descripcion-caja">MATRIX</h3>
                        <button class="detalle">DETALLE</button>
                </div>
                <div class="michonne">
                    <img class= "img-carrito" src="../images/TWD-michonne.jpg" alt="imagen">
                    <h3 class="descripcion-caja">MICHONNE</h3>
                    <button class="detalle">DETALLE</button>
                </div>
                </article>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>