<%- include('partials/head', {title: 'Carritos de Compras'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="funko-caja">
            <div class="car-fav">
                <h2>CARRITO(1)</h2>
                <h2 class="favoritos">FAVORITOS(0)</h2>
                <div class="descripciones">
                    <h2 class="descripcion">CANT</h2>
                    <h2 class="descripcion2">PRECIO</h2>
                </div>
            </div>
            <article>
                <div class="funko-carrito">
                    <img class="imagen-capitan" src="../images/funko_capitan_america.jpg" alt="imagen">
                    <div class="articulos">
                        <p>POP!</p>
                        <p class="capitan-america">CAPITÁN AMÉRICA</p>
                        <button class="detalle-capitan">DETALLE</button>
                    </div>
                </div>
            </article>
            <div class="precios">
                <div class="botones"><button class="btn" type="button" id="menos">-</button>
                    <input id="cantidad" type="text" style="text-align: center;" value="1">
                    <button class="btn" type="button" id="mas">+</button>
                </div>
                <p class="precio">$4.500</p>
            </div>

            <div class="envio">
                <h2>ENVÍO</h2>
                <P class="precio2">$800</P>
            </div>
            <div class="total">
                <h2>TOTAL</h2>
                <p class="precio3">$5.300</p>
            </div>
            <h1>¡AGREGALOS A TU COMPRA!</h1>
            <div class="funkos">
                <div class="messi">
                    <img class="imagen-messi" src="../images/Funko_Pop_Messi.jpg" alt="imagen">
                    <div class="car-des">
                        <p class="descripcion-messi">MESSI</p>
                        <button class="detalle">DETALLE</button>
                    </div>
                </div>
                <div class="freddy">
                    <img class="imagen-freddy" src="../images/Pesadilla-Freddy.jpg" alt="imagen">
                    <div class="car-des">
                        <p class="descripcion-freddy">FREDDY KRUEGER</p>
                        <button class="detalle">DETALLE</button>
                    </div>
                </div>
                <div class="matrix">
                    <img class="imagen-matrix" src="../images/Matrix-neo.jpg" alt="imagen">
                    <div class="car-des">
                        <p class="descripcion-matrix">MATRIX</p>
                        <button class="detalle">DETALLE</button>
                    </div>
                </div>
                <div class="michonne">
                    <img class="imagen-michonne" src="../images/TWD-michonne.jpg" alt="imagen">
                    <div class="car-des">
                    <p class="descripcion-michonne">MICHONNE</p>
                    <button class="detalle">DETALLE</button>
                </div>
                </div>
                </article>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>