<%- include('partials/head', {title: 'Home', style: 'style-index'}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container-main">
            <div class="cabezas">
                <img src="/images/funko-cabezagris-breaking-bad.png" alt="breakingBad">
                <img src="/images/funko-cabezagris-DC.png" alt="DC">
                <img src="/images/funko-cabezagris-MARVEL.png" alt="Marvel">
                <img src="/images/funko-cabezagris-starwars.png" alt="SW">
            </div>
            <div class="search-container">
                <input type="text" placeholder="Funko de...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <section class="destacados">
                <h2>DESTACADOS</h2>
                <article class="contenedorDestacados">
                    <div class="infoDestacado">
                        <img src="/images/theJoker-funko3.jpg" alt="ST">
                        <h4>the Joker</h4>
                        <button><a href="/detalle-de-producto">DETALLE</a></button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/funko_doctor_strange.jpg" alt="DS">
                        <h4>DOCTOR STRANGE</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/GOT-danyerys.jpeg" alt="GOT">
                        <h4>DANYERYS</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/julianalvarez.webp" alt="futbol">
                        <h4>JULIAN ALVAREZ</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoDestacado">
                        <img src="/images/Freddie_Mercury.jpg" alt="frida">
                        <h4>FREDDIE MERCURY</h4>
                        <button>DETALLE</button>
                    </div>
                </article>
            </section>
            <section class="ofertas">
                <h2>OFERTAS</h2>
                <article class="contenedorOfertas">
                    <div class="infoOfertas">
                        <img src="/images/R2-D2.jpg" alt="RD">
                        <h4>R2-D2</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoOfertas">
                        <img src="/images/Terminator-t800.jpg" alt="T-800">
                        <h4>TERMINATOR T-800</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoOfertas">
                        <img src="/images/Friday13th-jason.jpg" alt="JASON">
                        <h4>JASON</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoOfertas">
                        <img src="/images/Albert_Einstein.JPG" alt="EINSTEIN">
                        <h4>ALBERT EINSTEIN</h4>
                        <button>DETALLE</button>
                    </div>
                    <div class="infoOfertas">
                        <img src="/images/TWD-michonne.jpg" alt="TWD">
                        <h4>MICHONNE</h4>
                        <button>DETALLE</button>
                    </div>
                </article>
                </article>
            </section>
            <div class="preventa">
                <h2>PRE-VENTA</h2>
                <button class="botonPreventa"><i class="fa-solid fa-circle-info"></i>MAS INFO</button>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>