<%- include('partials/head', {title: 'Home' , styles: ['style-index']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="container-main">
                    <div class="cabezas">
                        <img src="/images/marcas/funko-cabezagris-breaking-bad.png" alt="breakingBad">
                        <img src="/images/marcas/funko-cabezagris-DC.png" alt="DC">
                        <img src="/images/marcas/funko-cabezagris-MARVEL.png" alt="Marvel">
                        <img src="/images/marcas/funko-cabezagris-starwars.png" alt="SW">
                    </div>
                    <div class="search-container">
                        <input type="text" placeholder="Funko de...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <section class="destacados">
                        <h2>DESTACADOS</h2>
                        <article class="contenedorDestacados">
                            <div class="infoDestacado">
                                <img src="/images/funkos/theJoker-funko1.jpg" alt="ST">
                                <h4>THE JOKER</h4>
                                <button class="btn-add"><a class= 'button-detalle-de-producto' href="/detalle-de-producto">DETALLE</a></button>
                            </div>
                            <div class="infoDestacado">
                                <img src="/images/funkos/Doctor-Strange.png" alt="DS">
                                <h4>DOCTOR STRANGE</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoDestacado">
                                <img src="/images/funkos/daneyrys_targayen.png" alt="GOT">
                                <h4>DANYERYS</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoDestacado grogu">
                                <img src="/images/funkos/Grogu.png" alt="futbol">
                                <h4>GROGU</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoDestacado freddie">
                                <img src="/images/funkos/Freddie-Mercury.png" alt="frida">
                                <h4>FREDDIE MERCURY</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                        </article>
                    </section>
                    <section class="ofertas">
                        <h2>OFERTAS</h2>
                        <article class="contenedorOfertas">
                            <div class="infoOfertas">
                                <img src="/images/funkos/C-3PO.png" alt="C3">
                                <h4>C-3PO</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoOfertas">
                                <img src="/images/funkos/mr.been.png" alt="T-800">
                                <h4>Mr. Been</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoOfertas">
                                <img src="/images/funkos/Jason.png" alt="JASON">
                                <h4>JASON</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoOfertas albert">
                                <img src="/images/funkos/Albert.png" alt="EINSTEIN">
                                <h4>ALBERT EINSTEIN</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                            <div class="infoOfertas carol">
                                <img src="/images/funkos/carol.png" alt="TWD">
                                <h4>CAROL</h4>
                                <button class="btn-add">DETALLE</button>
                            </div>
                        </article>
                        </article>
                    </section>
                    <div class="preventa">
                        <h2>PRE-VENTA</h2>
                        <button class="botonPreventa"><i class="fa-solid fa-circle-info"></i>MAS INFO</button>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>