<%- include('partials/head', {title: 'listado' , styles: ['style-index']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="infoDestacado">
                    <img src="/images/funkos/daneyrys_targayen.png" alt="GOT">
                    <h4>DANYERYS</h4>
                    <button class="btn-add">DETALLE</button>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>