<%- include('partials/head', {title: 'Log In' , styles: ['login']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="box-login">
                    <form action="/login" method="POST">
                        <div class="login-formulario">
                            <h1> INICIAR SESIÓN </h1>
                            <div class="box-label">
                                <div class="grup-label">
                                    <label class="login-label"> INGRESE SU CORREO ELECTRÓNICO </label>
                                    <input class="login-input" type="email" name="email"
                                        placeholder="Correo electrónico" required>
                                </div>
                                <div class="box-label">
                                    <label class="login-label"> INGRESE SU CONTRASEÑA </label>
                                    <div class="box-input">
                                        <input class="login-input" type="password" name="contraseña"
                                            placeholder="Contraseña" required> <i class="fa-solid fa-eye"> </i>
                                        <a href=""> ¿OLVIDASTE TU CONTRASEÑA? </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-button">
                                <div class="box-remember">
                                    <input class="login-input-2" type="checkbox" name="rememberMe" value="true">
                                    <label class="login-p-2"> RECORDARME </label>
                                </div>
                                <p class="login-button"> <button type="submit" class="btn-add"> ACCEDER </button> </p>
                                <p class="login-p-3"> <a href="/register"> CREAR CUENTA </a> </p>
                            </div>
                        </div>
                    </form>
                </div>
            </main>

            <%- include('partials/footer') %>
    </body>

    </html>