<%- include('partials/head', {title: 'profile' , styles: ['profile']}) %>

    <body>
        <%- include('partials/header') %>

            <section class="detalle-perfil">
                <div>
                    <h1>Mi Cuenta</h1>
                </div>
                <img src="avatar.jpg" alt="Foto del usuario">
            </section>
            <section class="perfil-usuario">
                <h1>BIENVENIDO A FUNKOSHOP</h1>
                <div id="profile-info">

                </div>
                <div class="close-session">
                    <a href="/">Cerrar session</a>
                </div>
            </section>

            <%- include('partials/footer') %>
            <script src="/js/profije.js"></script>
    </body>

    </html>