<%- include('partials/head', {title: 'Home' , styles: ['register']}) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="box-padre">
                    <form class="caja-formulario" action="/users" method="POST" enctype="multipart/form-data">
                        <div>
                            <h1 class="registrarse"> REGISTRARSE </h1>
                            <!--     Seccion de Correo y Contraseña              -->
                            <div class="correo-contraseña-container">
                                <div class="cajaDeContraseña">
                                    <div class="textoContraseña"> NOMBRE </div>
                                    <input class="password" type="text" name="firstName" required>
                                </div>
                                <div class="cajaDeContraseña">
                                    <div class="textoContraseña"> APELLIDO </div>
                                    <input class="password" type="text" name="lastName" required>
                                </div>
                            </div>
                            <div class="correo-contraseña-container">
                                <div class="cajaDeMail">
                                    <div class="textoCorreoElectronico">CORREO ELECTRÓNICO</div>
                                    <input class="mail" type="email" name="email" required>
                                </div>
                                <div class="cajaDeContraseña">
                                    <div class="textoContraseña"> CONTRASEÑA </div>
                                    <input class="password" type="password" name="password" required> <i class="fa-solid fa-eye"> </i>
                                </div>
                            </div>
                            <div class="correo-contraseña-container">
                                <section class="cajaDeAceptarTyC">
                                    <div class="textoContraseña">CATEGORIA: </div>
                                    <input class="terms" type="radio" name="category"> Administrador
                                    <input class="terms" type="radio" name="category"> Usuario
                                </section>
                                <div class="cajaDeContraseña">
                                    <div class="textoContraseña"> IMAGEN </div>
                                    <input class="password" type="file" name="image" required>
                                </div>
                            </div>
                            <!--     Seccion de Aceptar terminos y condiciones   -->
                            <section class="cajaDeAceptarTyC">
                                <input class="terms" type="checkbox"><span> ACEPTAR <a class="TyC" href="#">TÉRMINOS Y
                                        CONDICIONES</a> </span>
                            </section>
                            <!--     Seccion final de Boton Registrarse          -->
                            <div align="center">
                                <button type="submit" class="btn-add"><a class="button-register"> REGISTRARSE </a></button>
                            </div>
                    </form> <!--  Aqui termina la caja del formulario    -->
                </div>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>