@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');


body {
    font-family: 'proxima Nova';
    background-color: black;
}

.box-about {
    margin: 25px;
    color: grey;
}

h2 {
    color: grey;
    margin-bottom: 15px;
}

.box-about p {
    color: whitesmoke;
}

.box {
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 30px -2px white;
    border-radius: 10px;
}
.box-son {
    margin: 10px;
    padding: 10px 0 10px;
}
.box h2{
    margin-bottom: 10px;
    text-align: center;
}

input {
    margin: 3px 0 10px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 95%;
}
label {
    font-weight: 600;
    margin-left: 5px;
}
textarea {
    width: 90%;
    height: 100px;
}


.login-button {
    display: flex;
    justify-content: center;
    height: 50px;
}
.button-2 {
    
    background-color: lightskyblue;
}

@media (min-width: 768px) {
    .box {
        margin: 40px 20px 40px;
    }
    .box-son {
        margin: 10px;
        padding: 10px 50px 10px;
    }
}
@media (min-width: 1024px) {
    .box {
    margin: 40px 80px 40px;
    }
}
@media (min-width: 1440px) {
    .box {
    margin: 40px 100px 40px;
    }
}