@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    font-family: 'proxima Nova';
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.login-textarea {
    width: 18rem;
    height: 5rem;
    resize: none;
    overflow: hidden;
}

.box-login {
    background-color: white;
    box-shadow: 0px 0px 30px -2px white;
    border-radius: 10px;
    margin: 20px;

}

.login-formulario {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.box-login h1 {
    text-align: center;
}

#btn-add-create {
    font-size: 15px;
    position: relative;
    right: 100px;
    top: 30px;
}

#btn-red-create {
    margin-right: 20px;
    left: 100px;
    bottom: 40px;
    position: relative;

    font-size: 15px;
}

.grup-label {
    display: flex;
    flex-direction: column;
}

.grup-label img {
    width: 290px;
}

.login-input {
    margin: 5px 0 10px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 294px;
}

.login-label {
    margin-top: 10px;
}

.box-label a {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.box-button {
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box-remember {
    display: flex;
    align-items: flex-end;
}

.login-input-2 {
    width: 40px;
    height: 20px;
}

.login-p-1 {
    font-size: 14px;
    text-align: right;
}

.login-p-2 {
    font-size: 14px;

}

.login-p-3 {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.login-button {
    display: flex;
    justify-content: center;
    height: 55px;
}

.login-button-2 {
    display: flex;
    justify-content: center;
    height: 50px;
}

.btn-red {
    font-size: 20px;
}

.btn-add {

    font-size: 20px;
}


@media (min-width: 425px) {
    .grup-label img {
        width: 340px;
    }

    .login-input {
        width: 340px;
    }

    .login-textarea {
        width: 21rem;
    }
}

@media (min-width: 768px) {
    .login-textarea {
        width: 31rem;
    }

    .box-login {
        margin: 40px;
    }

    .login-formulario {
        align-items: center;
    }

    .grup-label img {
        width: 480px;
    }

    .login-input {
        width: 500px;
    }

    .box-label {
        align-items: center;

    }
}

@media (min-width: 1024px) {
    .login-textarea {
        width: 25rem;
    }

    .box-login {
        margin: 60px;
    }

    #box-create {
        display: block;
    }

    .box-label {
        display: flex;

    }

    .grup-label img {
        width: 320px;
    }

    .part-1 {
        display: flex;
        flex-direction: column;
    }

    .part-2 {
        display: flex;
        flex-direction: column;
    }

    .login-formulario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #login-formulario-crate {
        justify-content: space-evenly;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }

    .login-input {
        width: 400px;

    }

    .box-button {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .btn-red {
        margin-right: 20px;
    }

    #btn-add-create {
        font-size: 15px;
        position: relative;
        right: 100px;
        top: 36px;
    }

    #btn-red-create {
        margin-right: 20px;
        left: 100px;
        bottom: 40px;
        position: relative;
    }
}

@media (min-width: 1440px) {
    .login-textarea {
        width: 34rem;
    }

    .box-login {
        margin: 80px;
    }

    .login-input {
        width: 550px;

    }

    .boxes {
        position: relative;
    }
}

@media (min-width: 1920px) {
    .login-textarea {
        width: 43rem;
    }

    .login-input {
        width: 700px;
    }

    .header {
        height: 1048px;
    }

    .menu-horizontal {
        bottom: -220px;
        width: 1800px;
    }
}