@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    font-family: 'proxima Nova';
    margin: 0;
    box-sizing: border-box;
}

.login-textarea {
    width: 22rem;
    height: 5rem;
    resize: none;
    overflow: hidden;
}

.box-login {
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 10px 5px #777;
    border-radius: 10px;

}

.login-formulario {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.login-formulario h1 {
    text-align: center;
}

.grup-label {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin: 5px 0 10px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
}

.login-label {
    margin-top: 10px;
}

.box-label a {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.box-button {
    margin: 15px 0;
}

.box-remember {
    display: flex;
    align-items: flex-end;
}

.login-input-2 {
    width: 40px;
    height: 20px;
}

.login-p-1 {
    font-size: 14px;
    text-align: right;
}

.login-p-2 {
    font-size: 14px;

}

.login-p-3 {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.button-1 {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 15px;
}

.login-button {
    display: flex;
    justify-content: center;
    height: 50px;
}

.button-2 {
    box-shadow: 0 3px 0 0 #082fa6, 0 4px 4px -1px rgb(0 0 0 / 60%), 0 4px 6px 1px rgb(0 0 0 / 30%), 0 1px 2px 1px rgb(0 0 0 / 0%) inset, 0 18px 32px -2px rgb(255 255 255 / 10%) inset;
    background-color: #0B44EF;
    background-image: linear-gradient(-45deg, #0B44EF, #007dfa);
    color: #E6EAEF;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-button-2 {
    display: flex;
    justify-content: center;
    height: 50px;
}

@media (min-width: 768px) {
    .login-textarea {
        width: 43rem;
    }
}

@media (min-width: 1024px) {
    .login-textarea {
        width: 58rem;
    }
}

@media (min-width: 1440px) {
    .login-textarea {
        width: 84rem;
    }
}