@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

/******** INICIO MAIN ********/

main {
    font-family: 'proxima Nova';
    position: relative;
}


main .titulo {
    display: flex;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}

.titulo p {
    color: rgb(114, 112, 112);
}

.titulo h4 {
    margin-left: 20px;

}

.detalle {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px;

}


.cajadelproducto {
    display: flex;
    flex-direction: column;
}

.fotoPrincipal img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -2px #777;

}

.favoritos {
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 300px;
    top: 50px;
}

.favoritos:hover {
    color: red;
}


.compartir {
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 310px;
    margin-top: 320px;
}

.fotosSiguientes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.fotosSiguientes img {
    width: 100px;
    display: flex;
    box-shadow: 0px 0px 20px -2px #777;
    border-radius: 10px;
}

.imgP {
    display: flex;

}

.especificaciones {
    margin: 10px;
    font-size: 20px;
}

.carrito {
    display: flex;
    position: absolute;
    right: 102px;
    margin-top: 22px;
    font-size: xx-large;
}

details {
    position: relative;
    margin: 12px 0;
}

.especificaciones h2 {
    font-size: 40px;
    color: black;
}

.relacionados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 25px;

}

.infofunko {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 0px 0px 20px -2px #777;
}

.infodestacados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.infofunko img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.boton-editar {
    text-decoration: none;
    color: #0B44EF;
}

.boton-carrito {
    box-shadow: 0 3px 0 0 #082fa6, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    background-color: #0B44EF;
    background-image: linear-gradient(-45deg, #0B44EF, #007dfa);
    color: #E6EAEF;
    border-radius: 6px;
    margin-bottom: 8px;
    font-size: 20px;
}

.btn-add {
    margin-top: -28px;
}

.agg {
    margin-bottom: 18px;
}

/********* FIN MAIN **********/

@media (min-width: 768px) {
    .cj-img .fa-heart {
        position: relative;
        margin-left: 290px;
        margin-top: 15px;
        font-size: 80px;
    }

    .fotoPrincipal img {
        margin-left: 15px;
        width: 50%;
    }

    .favoritos {
        font-size: 60px;
        margin-left: -156px;
        top: -8px;
    }

    .fotosSiguientes img {
        width: 120px;
    }

    .fotosSiguientes {
        margin-right: 320px;
    }

    .fa-share-nodes {
        position: relative;
        margin-top: 260px;
        margin-left: 290px;
        font-size: 70px;
    }

    main .titulo {
        font-size: 50px;
    }

    .especificaciones {
        position: absolute;
        margin-left: 436px;
        margin-top: 90px;
    }

    .especificaciones h2 {
        font-size: 80px;
    }

    .carrito {
        right: 256px;
        bottom: -45px;

    }

    .carrito i {
        font-size: 51px;
    }

    .relacionados {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 25px;
    }

    .infofunko {
        height: 320px;
        width: 40%;
    }

    .infodestacados {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .detalle {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 25px;
    }

    .fotoPrincipal img {
        margin-left: 15px;
        width: 580px;
    }

    .especificaciones {
        position: absolute;
        margin-left: 640px;
        margin-top: 190px;
    }

    .favoritos {
        font-size: 70px;
        margin-left: -138px;
        top: -108px;
    }

    .carrito {
        right: 252px;
        bottom: -45px;
    }

    .carrito .btn-add {
        margin-top: -148px;
        margin-left: 50px;
        position: absolute;
    }

    .cj-img .fa-heart {
        position: absolute;
        margin-top: 10px;
        margin-left: 320px;
    }

    .fotosSiguientes {
        margin-right: 0px;
    }

    .linkInfo {
        font-size: 24px;
    }

    .fa-share-nodes {
        position: absolute;
        margin-top: 150px;
        margin-left: 330px;

    }
}