@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

/******** INICIO MAIN ********/

main {
    font-family: 'proxima Nova';
    position: relative;
}


main .titulo {
    display: flex;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}

.titulo p {
    color: rgb(114, 112, 112);
}

.titulo h4 {
    margin-left: 20px;

}

.detalle {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px;

}



.cajadelproducto {
    display: flex;
    flex-direction: column;
}

.fotoPrincipal img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -2px #777;

}

.favorito {
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 310px;
}

.compartir {
    display: flex;
    background: transparent;
    border: none;
    font-size: 50px;
    position: absolute;
    margin-left: 310px;
    margin-top: 320px;
}

.fotosSiguientes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.fotosSiguientes img {
    width: 100px;
    display: flex;
    box-shadow: 0px 0px 20px -2px #777;
    border-radius: 10px;
}

.imgP {
    display: flex;

}

.especificaciones {
    margin: 10px;
    font-size: 20px;
}

.carrito {
    display: flex;
    position: absolute;
    right: 50px;
    margin-top: 25px;
    font-size: xx-large;
}

details {
    position: relative;
    margin: 12px 0;
}

.especificaciones h2 {
    font-size: 40px;
    color: black;
}

.relacionados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 25px;

}

.infofunko {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 0px 0px 20px -2px #777;
}

.infodestacados {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.infofunko img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

/********* FIN MAIN **********/

@media (min-width: 768px) {
    .cj-img .fa-heart {
        position: relative;
        margin-left: 290px;
        margin-top: 15px;
        font-size: 80px;
    }

    .fotoPrincipal img {
        margin-left: 15px;
        width: 50%;
    }

    .fotosSiguientes img {
        width: 170px;
    }

    .fa-share-nodes {
        position: relative;
        margin-top: 260px;
        margin-left: 290px;
        font-size: 70px;
    }

    main .titulo {
        font-size: 50px;
    }

    .especificaciones {
        font-size: 40px;
    }

    .especificaciones h2 {
        font-size: 80px;
    }

    .carrito {
        right: 100px;

    }

    .carrito i {
        font-size: 51px;
    }

    .relacionados {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 25px;
    }

    .infofunko {
        height: 320px;
        width: 40%;
    }

    .infodestacados {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .detalle {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 25px;
    }

    .fotoPrincipal img {
        margin-left: 15px;
        width: 580px;
    }

    .especificaciones {
        position: absolute;
        margin-left: 630px;
        margin-top: 215px;
    }

    .carrito .btn-add {
        margin-top: -148px;
        margin-left: 50px;
        position: absolute;
    }

    .cj-img .fa-heart {
        position: absolute;
        margin-top: 10px;
        margin-left: 320px;
    }

    .linkInfo {
        font-size: 24px;
    }

    .fa-share-nodes {
        position: absolute;
        margin-top: 150px;
        margin-left: 330px;

    }
}