@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    margin: 0;
    box-sizing: border-box;

}

/* HEADER */
.header {
    font-family: 'proxima Nova';
    background-image: url('/images/banners/banner-shenron-x.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 220px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.header .burger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .burger-container .logo {
    width: 25%;
    display: flex;
    margin-left: 10px;
    z-index: 1;
}

.header .burger-container .burger-menu {
    font-size: 50px;
}

.header .burger-container .burger-menu i {
    align-items: center;
}

.header .burger-container .contenedor-de-botones {
    z-index: 1;
}

.header .burger-container .contenedor-de-botones .botones {
    background-color: transparent;
    border: none;

}

.header .burger-container .contenedor-de-botones i {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.header .accesos ul {
    display: none;
}




/* FOOTER */

footer {
    font-family: 'proxima Nova';
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footerTittle {
    color: white;
    font-size: 25px;
}

.footerDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.footerDetalle .detalleAsist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDetalle .detalleAsist h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .detalleAsist .listaAsist {
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.footerDetalle .detalleAsist .listaAsist li a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.footerDetalle .seguinos {
    display: flex;
    flex-direction: column;
}

.footerDetalle .seguinos h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

.footerDetalle .seguinos .redes {
    margin-top: 15px;
}

.footerDetalle .seguinos .redes i {
    color: white;
    font-size: 40px;
    margin: 0 10px;
}

.footerDetalle .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDetalle .informacion h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .informacion .listaInfo {
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.footerDetalle .informacion .listaInfo li a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.footerDetalle .infoGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.footerDetalle .infoGeneral .pagos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDetalle .infoGeneral .pagos h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .infoGeneral .pagos .iconosPagos {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footerDetalle .infoGeneral .pagos .iconosPagos i {
    color: white;
    font-size: 15px;
}

.footerDetalle .infoGeneral .arrepentido {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.footerDetalle .infoGeneral .arrepentido button {
    border-radius: 7px;
    border: none;
    background-color: white;
}

.footerDetalle .infoGeneral .arrepentido button:hover {
    border-radius: 10px;
    background-color: blue;
}

.footerDetalle .infoGeneral .arrepentido button .botonA {
    text-decoration: none;
    color: blue;

}

.footerDetalle .infoGeneral .arrepentido button .botonA:hover {
    text-decoration: none;
    color: white;

}

.footerDetalle .infoGeneral .envios h3 {
    color: white;
    font-size: 15px;

}

.footerDetalle .infoGeneral .envios i {
    color: white;
    display: flex;
    margin: 20px;
    justify-content: center;
    font-size: 25px;

}

.footerDetalle .infoGeneral .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.footerDetalle .infoGeneral .contacto h3 {
    color: white;
    font-size: 15px;
}

.footerDetalle .infoGeneral .contacto h4 {
    margin-top: 5px;
    font-size: 15px;
}

/*query tablet*/

@media (min-width: 768px) {

    /* Header Tablet */

    .header {
        height: 420px;
    }

    .header .burger-container .logo {
        width: 30%;
    }

    .header .burger-container .burger-menu {
        font-size: 60px;
    }

    .header .burger-container .contenedor-de-botones i {
        font-size: 45px;
        margin-right: 10px;
    }

    /* Footer tablet */


    footer .footerTittle {
        font-size: 30px;
    }

    .footerDetalle {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

    }

    .footerDetalle .detalleAsist h3 {
        font-size: 20px;
    }


    .footerDetalle .detalleAsist .listaAsist li a {
        font-size: 15px;

    }

    .footerDetalle .seguinos h3 {
        font-size: 20px;

    }


    .footerDetalle .seguinos .redes i {
        font-size: 50px;
    }

    .footerDetalle .informacion h3 {
        font-size: 20px;
    }

    .footerDetalle .informacion .listaInfo {
        list-style: none;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerDetalle .informacion .listaInfo li a {
        font-size: 15px;

    }

    .footerDetalle .infoGeneral .pagos h3 {
        font-size: 20px;
    }

    .footerDetalle .infoGeneral .pagos .iconosPagos i {
        font-size: 20px;
    }


    .footerDetalle .infoGeneral .envios h3 {
        font-size: 20px;

    }

    .footerDetalle .infoGeneral .contacto h3 {
        font-size: 20px;
    }

    .footerDetalle .infoGeneral .contacto h4 {
        font-size: 20px;
    }

}

@media (min-width: 1024px) {

    /* Header Desktop */

    .header {
        height: 560px;
    }

    .header .burger-container .logo {
        width: 20%;
    }

    .header .burger-container .burger-menu {
        display: none;
    }

    .header .burger-container .contenedor-de-botones i {
        font-size: 45px;
        margin-right: 10px;
    }

    .header .accesos {
        position: relative;
        top: 360px;
        margin-right: 15px;
    }

    .header .accesos ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin-top: -25px;
    }

    .header .accesos ul li a {
        font-size: 20px;
        font-family: 'Proxima Nova';
        font-weight: bold;
        text-decoration: none;
        color: black;

    }

    .header .accesos ul li a:hover {
        color: yellow;
        font-size: 25px;
    }

    /* Footer Desktop */

    footer .footerTittle {
        font-size: 40px;
        position: relative;
        top: 74px;
    }

    .footerDetalle {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 135px;
    }


    .footerDetalle .detalleAsist h3 {
        font-size: 30px;
    }


    .footerDetalle .detalleAsist .listaAsist li a {
        font-size: 20px;
    }

    .footerDetalle .detalleAsist .listaAsist {
        list-style: none;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footerDetalle .seguinos h3 {
        font-size: 30px;
    }


    .footerDetalle .seguinos .redes i {
        font-size: 50px;
    }

    .footerDetalle .infoGeneral {
        margin-top: 60px;
        position: relative;
        right: 10px;
        top: 235px;
    }

    .footerDetalle .informacion h3 {
        font-size: 30px;
    }

    .footerDetalle .informacion .listaInfo li a {
        font-size: 20px;

    }

    .footerDetalle .infoGeneral .pagos h3 {
        font-size: 25px;
    }

    .footerDetalle .infoGeneral .pagos,
    .arrepentido {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 40px;
    }

    .footerDetalle .infoGeneral .pagos .iconosPagos i {
        font-size: 20px;
    }

    .footerDetalle .infoGeneral .envios h3 {
        font-size: 25px;

    }

    .footerDetalle .infoGeneral .envios {
        position: relative;
        right: 320px;
        bottom: 94px;
    }


    .footerDetalle .infoGeneral .contacto h3 {
        font-size: 25px;
    }

    .footerDetalle .infoGeneral .contacto h4 {
        font-size: 20px;
    }

    .footerDetalle .infoGeneral .contacto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 32px;
        position: relative;
        left: 350px;
        bottom: 200px;
    }

    .footerDetalle .detalleAsist {
        position: relative;
        right: 35px;
        top: 200px;
    }

    .footerDetalle .seguinos {
        position: relative;
        top: 183px;
    }

    .footerDetalle .informacion {
        position: relative;
        left: 18px;
        top: 213px;
    }

    .footerDetalle .informacion .listaInfo {
        position: relative;
        bottom: 11px;
    }
}

@media (min-width: 1440px) {
    .footerDetalle .informacion {
        left: 320px;
        top: -55px;
    }

    .footerDetalle .seguinos {
        right: -170px;
        top: -80px;
    }

    .footerDetalle .detalleAsist {
        right: -10px;
        top: -60px;
    }

    .footerDetalle .infoGeneral{
        right: 476px;
        top: 270px;
    }

    .footerDetalle .infoGeneral .pagos {
        top: 35px;
    }

    .footerDetalle .infoGeneral .contacto{
        bottom: 188px;
    }
}