@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    margin: 0;
    box-sizing: border-box;
}

.box-login {
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 10px 5px #777;
    border-radius: 10px;

}

.login-formulario {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.login-formulario h1 {
    font-family: 'proxima Nova';
    text-align: center;
}

.grup-label {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin: 5px 0 10px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 93%;
}

.login-label {
    font-family: 'proxima Nova';
    margin-top: 10px;
}

.box-label a {
    font-family: 'proxima Nova';
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.box-button {
    margin: 15px 0;
}

.box-remember {
    font-family: 'proxima Nova';
    display: flex;
    align-items: flex-end;
}

.login-input-2 {
    width: 40px;
    height: 20px;
}

.login-p-1 {
    font-size: 14px;
    text-align: right;
}

.login-p-2 {
    font-size: 14px;

}

.login-p-3 {
    font-family: 'proxima Nova';
    font-size: 16px;
    text-align: center;
}

.login-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fa-eye {
    position: relative;
    left: 340px;
    bottom: 35px;
}

@media (min-width: 768px) {

    .fa-eye {
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}

@media (min-width: 1024px) {
    .login-label {
        font-size: 24px;
    }

    .box-label a {
        font-size: 18px;
    }

    .login-input {
        height: 50px;
    }

    .box-label {
        font-size: 30px;
    }

    .login-p-2 {
        font-size: 18px;
    }

    .login-p-3 {
        font-size: 18px;
    }

    .fa-eye {
        right: 55px;
    }
}