@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

.detalle-perfil{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 0 10px;
}


body {
    background-color: #f5f5f5;
    margin-bottom: 15px;
    font-family: 'proxima Nova';
}

.perfil-usuario{
    margin: 20px 0 0 10px;
}

.close-session {
    margin-top: 20px;
}


.perfil-usuario ul {
    padding: 0;
    margin: 0;
}
.perfil-usuario h2 {
    margin-top: 10px;
}


.perfil-usuario li {
    list-style: none;
    margin-bottom: 5px;
}