@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

.title{
    text-align: center;
    font-family: 'proxima Nova';
    font-size: 30px;
    position: relative;
    top: 10px;
    bottom: 10px;
}

.avatar{
    position: relative;
    left: 15px;
}

.perfil-usuario{
    text-align: left;
    margin-left: 30px;
}

.perfil-usuario .title{
    text-align: center;
    font-family: 'proxima Nova';
    font-size: 20px;    
}

.profile-info p {
    margin: 15px;
    font-family: 'proxima Nova';
    font-size: 15px;
    
}

.close-session{
    text-align: center;
    margin-bottom: 20px;
}

.close-session button{
    border-radius: 10px;
    background-color: blue;
}

.close-session a{
    text-decoration: none;
    font-family: 'proxima Nova';
    font-size: 15px;
    color: white;
}
.create {
    left: 800px;
    font-size: 30px;
    position: relative;
}