@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    margin: 0;
    box-sizing: border-box;
}

/* Contenido de la caja del formulario, datos en general */
.box-padre {
    font-family: 'proxima Nova';
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 10px 5px #777;
    border-radius: 10px;
}

/* Seccion de Nombre y Apellido */
.textoIngreseNombre,
.textoIngreseApellido {
    display: inline-block;
    font-weight: 600;
}

.textoIngreseNombre {
    margin-right: 30px;
}

.nombreACompletar,
.apellidoACompletar {
    border-color: red;
    margin-left: 15px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 160px;
}

.nombre-apellido-container {
    margin-bottom: 15px;
}

.nombresApellidos {
    font-size: 14px;
    margin-left: 20px;
}

/* Seccion de Correo y Contraseña */
.textoCorreoElectronico,
.textoContraseña {
    font-family: 'proxima Nova';
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}

.mail,
.password {
    width: 80%;
    border-color: red;
    margin-left: 15px;
    border-radius: 7px;
    background-color: white;
    height: 30px;
}

.cajaDeMail,
.cajaDeContraseña {
    margin-bottom: 15px;
}

/* Seccion de Aceptar terminos y condiciones */
.cajaDeAceptarTyC {
    font-family: 'proxima Nova';
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.terms {
    width: 40px;
    height: 20px;
}

.TyC {
    font-style: oblique;
}