@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
    font-size: 12px;
    background-color: whitesmoke;
}
.imagen-capitan {
    position: relative;
    right: 30px;
    top: 6px;
    height: 100px;
}
.img-carrito{
    height: 100px;
    margin-top: 15px;
}
.articulos {
    position: relative;
    bottom: 50px;
    left: 50px;
    font-size: 6px;
}


.car-fav {
    display: flex;
    font-size: 8px;
    border-bottom: solid 1px black;
}

.descripciones {
    display: flex;
    position: relative;
    left: 130px;
}

.descripcion2 {
    position: relative;
    left: 20px;
}

#cantidad {
    width: 20%;
    text-align: center;
}

.precios {
    display: flex;
    flex-direction: column;
    gap: 37px;
    font-size: 10px;
    position: relative;
    bottom: 115px;
    left: 275px;
}
.total-carrito{
    margin-bottom: -80px;
}
.btn{
    width: 14%;
}
.botones1 {
    display: flex;
    width: 28%;
    height: 16px;
    position: relative;
}

.precio {
    position: relative;
    left: 80px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
}
.precio1{
    position: relative;
    left: 80px;
    bottom: 15px;
}
.envio {
    position: relative;
    bottom: 75px;
    left: 285px;
    font-size: 7px;
}

.total {
    position: relative;
    left: 282px;
    bottom: 58px;
    font-size: 8px;
}
.favoritos{
    position: relative;
    left: 12px;
}

h1 {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 6px;
}

.michonne {
    display: none;
}

.funko-caja {
    margin: 15px 15px 15px 15px;
    width: 90%;
}

.funkos {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 22px;
}

.funko-caja-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 187px;
    width: 71%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
}
.funko-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 116px;
    width: 45%;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
}
.detalle {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
    font-size: 10px;
}
.descripcion-caja{
    font-size: 12px;
}
.detalle-capitan {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 15px;
    left: 10px;
    font-size: 4px;
}

/* Media Tablest*/
@media(min-width:768px) {
    .michonne {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 187px;
        width: 71%;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 15px;
    }
    .funko-caja{
        width: 96%;
    }
    .descripciones{
        left: 438px;
    }
    .precios{
        left: 585px;
    }
    .botones1{
        width: 15%;
    }
    .funkos{
    flex-direction: row;
    position: relative;
    left: 32px;
    gap: 20px;
    }
    .car-fav{
        width: 94%;
    }
    main{
    height: 100vh;
    }
}


/*Desktop*/
@media(min-width:1024px) {
    .precios{
        left: 820px;
        font-size: 12px;
    }
    .precio{
        left: 90px;
    }
    .precio1{
        left: 90px;
    }
    .descripciones{
        left: 594px;
    }
    .car-fav{
        font-size: 12px;
        width: 98%;
    }
    
}