@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'proxima Nova';
    font-size: 12px;
    background-color: whitesmoke;
}

.imagen-capitan {
    position: absolute;
    width: 200px;
}

.img-carrito {
    height: 200px;
    margin-top: 15px;
}

.articulos {
    position: relative;
    bottom: -120px;
    left: -50px;
    font-size: 12px;
}

.car-fav {
    display: flex;
    font-size: 8px;
    border-bottom: solid 1px black;
}

.descripciones {
    display: flex;
    position: relative;
    left: 130px;
}

.descripcion2 {
    position: relative;
    left: 20px;
}

#cantidad {
    height: 25px;
    width: 20%;
    border-radius: 10px 10px 10px 10px;
    border-right: solid;
}

.precios {
    display: flex;
    flex-direction: column;
    gap: 37px;
    font-size: 12px;
    position: relative;
    bottom: 200px;
    left: 260px;
}

.total-carrito {
    margin-bottom: -80px;
}

.btn {
    width: 14%;
    height: 25px;
}

.botones1 {
    display: flex;
    width: 28%;
    height: 16px;
    position: relative;
}

.precio {
    position: relative;
    left: 80px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
}

.precio1 {
    position: relative;
    left: 80px;
    bottom: 15px;
}

.envio {
    position: relative;
    bottom: 75px;
    left: 285px;
    font-size: 7px;
}

.total {
    position: relative;
    left: 282px;
    bottom: 58px;
    font-size: 8px;
}

.favoritos {
    position: relative;
    left: 12px;
}

h1 {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 20px;
}

.cj-general {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.funko-caja {
    margin: 15px 15px 15px 15px;
    width: 90%;
}

.funkos {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 22px;
}

.funko-caja-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -2px #777;
}

.funko-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 60%;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -2px #777;
}

.descripcion-caja {
    font-size: 12px;
}

/* Media Tablest*/
@media (min-width: 768px) {
    .funko-caja {
        width: 96%;
    }

    .descripciones {
        left: 425px;
    }

    .descripcion2 {
        position: relative;
        left: 80px;
    }

    .precios {

        left: 567px;
        display: flex;
        position: absolute;
        top: 478px;
    }

    .precio {
        position: relative;
        left: 130px;
        bottom: 53px;
        display: flex;
        flex-direction: column;
        margin-bottom: -44px;
    }

    .precio1 {
        position: relative;
        left: 130px;
        bottom: 15px;
    }

    .articulos {
        position: relative;
        bottom: -120px;
        left: -130px;
        font-size: 12px;
    }

    .botones1 {
        width: 90%;
    }

    .funkos {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .car-fav {
        width: 740px;
    }

    .cj-general {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-top: 50px;
    }

    .funko-caja-carrito {
        height: 290px;
        width: 40%;
    }
}


/*Desktop*/
@media(min-width:1024px) {
    .precios {
        left: 770px;
        top: 660px;
    }

    .precio {
        bottom: 62px;
        margin-bottom: -40px;
        font-size: 24px;
    }

    .precio1 {
        left: 130px;
        font-size: 24px;
        top: -25px;
    }

    h1 {
        font-size: 24px;
    }

    .cj-general {
        margin-top: 70px;
    }

    .funkos {
        justify-content: space-between;
    }

    .funko-caja-carrito {
        height: 290px;
        width: 20%;
    }

    .btn-add {
        font-size: x-large;
    }

    .funko-carrito {
        width: 50%;
    }

    .descripciones {
        left: 460px;
    }


    .car-fav {
        font-size: 16px;
        width: 100%;
        margin-top: 30px;
    }
}