<footer>
    <div class="footerDetalle">
        <div class="seguinos">
            <div class="redes">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <h2 class="footerTittle">FUNKO-SHOP</h2>
        <div class="infoGeneral">
            <div class="pagos">
                <h3>MEDIOS DE PAGO</h3>
                <div class="iconosPagos">
                    <i class="fa-sharp fa-solid fa-credit-card"></i>
                    <i class="fa-solid fa-building-columns"></i>
                    <i class="fa-solid fa-money-bill-1"></i>
                </div>
            </div>
            <div class="envios">
                <h3>ENVÍOS A TODO EL PAÍS</h3>
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="contacto">
                <h3>CONTACTO</h3>
                <h4><i class="fa-solid fa-location-dot"></i> Ubicación</h4>
                <h4><i class="fa-solid fa-phone"></i> 5555-5555</h4>
                <h4><i class="fa-solid fa-envelope"></i> funkoshop@gmail.com</h4>
                <h4><i class="fa-solid fa-alarm-clock"></i> Lun-Vier 8:00 - 17:00hs</h4>
            </div>
        </div>
    </div>
</footer>