<header class="header">
    <div>
        <div class="burger-container">
            <a href="/"> <img class="logo" src="/images/logo/logo_funko_shop.png" alt="logo"></a>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="contenedor-de-botones">
                <button class="botones"><a href="/users/login"><i class="fa-solid fa-user"></i> <p> <%= locals.user && locals.user.firstName %></p></a></button>
                <button class="botones"><i class="fa-regular fa-heart"></i></button>
                <button class="botones"><a href="/carrito-de-compras"><i
                 class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>
        <nav>
            <ul class="menu-horizontal">
                <li><a href="/">INICIO</a></li>
                <li><a href="/aboutUs">¿QUIÉNES SOMOS?</a></li>
                <!-- <li>
                    <a href="#">CATEGORÍAS</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Opción 1</a></li>
                        <li><a href="#">Opción 2</a></li>
                        <li><a href="#">Opción 3</a></li>
                        <li><a href="#">Opción 4</a></li>
                        <li><a href="#">Opción 5</a></li>
                        <li><a href="#">Opción 6</a></li>
                        <li><a href="#">Opción 7</a></li>
                        <li><a href="#">Opción 8</a></li>
                        <li><a href="#">Opción 9</a></li>
                    </ul>
                </li> -->
                <li><a href="/personalized">PERSONALIZADOS</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
            </ul>

        </nav>
    </div>
</header>