<header class="header">
    <div>
        <div class="burger-container">
            <img class="logo" src="/images/logo/logo_funko_shop.png" alt="logo">
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="contenedor-de-botones">
                <button class="botones"><a href="/users/login"><i class="fa-solid fa-user"></i></a></button>
                <button class="botones"><i class="fa-regular fa-heart"></i></button>
                <button class="botones"><a href="/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </div>
        <div class="accesos">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="#">¿QUIÉNES SOMOS?</a></li>
                <li><a href="#">CATEGORÍAS</a></li>
                <li><a href="#">PERSONALIZADOS</a></li>
                <li><a href="#">PRE-VENTA</a></li>

            </ul>
        </div>
    </div>
</header>